<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgc.fyp.sgc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sgc_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sgc_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRCodeScanner"
            android:label="@string/title_activity_qrcode_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRCodeGenerator"
            android:label="@string/title_activity_qrcode_generator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GenerateActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".PlaintextActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".AudioActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".ScanPlaintextActivity" />
        <activity android:name=".ScanImageActivity" />
        <activity android:name=".ScanAudioActivity" />
        <activity android:name=".ScanVideoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>